
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 71.8rem;
}.en-tant-que-label-engag-nous-sommes-constamment-prsents-lors-de-showcases-et-autres-manifestations-musicales-pertinentes-nous-saisissons-chaque-opportunit-de-mettre-en-avant-nos-artistes-et-de-partager-leur-talent-avec-un-public-plus-large-d3H {
  width: 100%;
  height: 24.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
