
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.entertainment-q9m {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.entertainment-q9m .header-Ahq {
  box-sizing: border-box;
  padding: 3.3rem 0rem 2.9rem 14.264rem;
  width: 100%;
  height: 10.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.entertainment-q9m .header-Ahq .group-34303-scF {
  margin: 0rem 114.6rem 0.465rem 0rem;
  width: 2.4361rem;
  height: 2.7351rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .header-Ahq .menu-Zjy {
  width: 79.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-hbH {
  width: 43.9rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-hbH .menu-item-djq {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-hbH .menu-item-djq .auto-group-ltyw-cLs {
  margin: 0rem 9.5rem 0.2rem 0rem;
  width: 8.6rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-hbH .menu-item-TsH {
  width: 14.9rem;
  height: 2.4rem;
  position: absolute;
  left: 12.7rem;
  top: 0;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-hbH .menu-item-TsH .auto-group-bpb1-BoH {
  margin: 0rem 9.4rem 0.2rem 0rem;
  width: 5.5rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-item-U1h {
  box-sizing: border-box;
  padding: 0.233rem 0rem 0.2rem 0rem;
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 22.3rem;
  top: 1.2rem;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-item-U1h .auto-group-x5yd-A9R {
  margin-right: 4rem;
  width: 8.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-item-FRm {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 37.7rem;
  top: 1.6rem;
}
.entertainment-q9m .header-Ahq .menu-Zjy .menu-item-FRm .auto-group-sbws-mf1 {
  margin: 0rem 10.2rem 0.2rem 0rem;
  width: 7.9rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .auto-group-nzdr-pdH {
  width: 100%;
  height: 241.5rem;
  position: relative;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hxmy-wxo {
  width: 164.8rem;
  height: 90rem;
  position: absolute;
  left: 13.6rem;
  top: 6rem;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hxmy-wxo .rectangle-341-4Gj {
  width: 164.8rem;
  height: 88.6rem;
  position: absolute;
  left: 0;
  top: 1.4rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 123.806%;
  background-position: 0 -18.9434rem;
  background-image: url('rectangle-341-bg-zXm.png');
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hxmy-wxo .rectangle-341-4Gj .rectangle-341-4Gj-bg {
  width: 164.8rem;
  height: 88.6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:67388ea3fe0969ab54294c3de261c692a4e64b8a');
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hxmy-wxo .entertainment-4vw {
  width: 117rem;
  height: 8.3rem;
  position: absolute;
  left: 23.9rem;
  top: 41.6rem;
  text-align: center;
  font-size: 8.3rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.7805rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .auto-group-nzdr-pdH .line-3-X3q {
  width: 175rem;
  height: 0.1rem;
  position: absolute;
  left: 8.5rem;
  top: 144.3rem;
  background-color: #222222;
}
.entertainment-q9m .auto-group-nzdr-pdH .line-6-dcf {
  width: 175rem;
  height: 0.1rem;
  position: absolute;
  left: 8.5rem;
  top: 185.4rem;
  background-color: #222222;
}
.entertainment-q9m .auto-group-nzdr-pdH .line-4-MYf {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 96rem;
  top: 101.6rem;
  background-color: #000000;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-trls-Gfd {
  width: 143.4rem;
  height: 5.9rem;
  position: absolute;
  left: 8.5rem;
  top: 148.5rem;
  display: flex;
  align-items: center;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-trls-Gfd .corporate-events-bC7 {
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-trls-Gfd .auto-group-nmyx-iXd {
  box-sizing: border-box;
  padding-left: 23.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-trls-Gfd .auto-group-nmyx-iXd .line-5-egB {
  margin-right: 4.6rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-trls-Gfd .auto-group-nmyx-iXd .special-events-yTZ {
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P {
  width: 175.1rem;
  height: 40.5rem;
  position: absolute;
  left: 8.5rem;
  top: 189.6rem;
  display: flex;
  align-items: center;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo {
  box-sizing: border-box;
  padding-right: 4.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .auto-group-wumz-wHu {
  margin-right: 4.8rem;
  width: 82.7rem;
  height: 36.5rem;
  position: relative;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .auto-group-wumz-wHu .cultural-events-music-literature-food-dancing-exhibition-gFV {
  width: 63.1rem;
  height: 17.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .auto-group-wumz-wHu .cultural-events-music-literature-food-dancing-exhibition-gFV .cultural-events-music-literature-food-dancing-exhibition-gFV-sub-0 {
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .auto-group-wumz-wHu .cultural-events-music-literature-food-dancing-exhibition-gFV .cultural-events-music-literature-food-dancing-exhibition-gFV-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.84375;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .auto-group-wumz-wHu .ozamba-events-celebrates-the-richness-of-culture-through-a-diverse-range-of-events-this-includes-music-festivals-literary-gatherings-culinary-experiences-and-dance-showcases-we-curate-events-that-showcase-the-vibrancy-and-artistry-of-different-cultures-providing-attendees-with-enriching-and-enjoyable-experiences-nhq {
  width: 82.7rem;
  height: 24.2rem;
  position: absolute;
  left: 0;
  top: 12.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-5br5-nvo .line-7-MPZ {
  width: 0rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-t33y-Vkf {
  width: 83rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-t33y-Vkf .governmental-events-celebrations-press-conferences-presentations-FUw {
  width: 77.6rem;
  height: 17.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-t33y-Vkf .governmental-events-celebrations-press-conferences-presentations-FUw .governmental-events-celebrations-press-conferences-presentations-FUw-sub-0 {
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-t33y-Vkf .governmental-events-celebrations-press-conferences-presentations-FUw .governmental-events-celebrations-press-conferences-presentations-FUw-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.84375;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-cyzu-62P .auto-group-t33y-Vkf .we-specialize-in-organizing-governmental-events-that-require-precision-and-professionalism-this-includes-celebratory-occasions-press-conferences-and-official-presentations-ozamba-events-ensures-that-every-aspect-of-these-events-aligns-with-the-protocol-and-objectives-of-governmental-entities-creating-impactful-and-dignified-occasions-Nxs {
  width: 83rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 12.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-uqgf-ZGf {
  width: 143.9rem;
  height: 5.9rem;
  position: absolute;
  left: 8.5rem;
  top: 101.8rem;
  display: flex;
  align-items: center;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-uqgf-ZGf .fashion-shows-HiT {
  margin-right: 38.7rem;
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-uqgf-ZGf .model-casting-cVq {
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-gyb5-YPV {
  width: 174.8rem;
  height: 28.2rem;
  position: absolute;
  left: 8.5rem;
  top: 110.5rem;
  display: flex;
  align-items: flex-start;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-gyb5-YPV .ozamba-events-is-adept-at-curating-and-managing-captivating-fashion-shows-from-selecting-top-tier-designers-and-models-to-coordinating-runway-logistics-and-choreography-we-ensure-that-every-fashion-show-is-a-showcase-of-creativity-and-style-our-team-brings-a-unique-blend-of-creativity-and-meticulous-planning-to-each-event-GqH {
  margin-right: 9.1rem;
  max-width: 83rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-gyb5-YPV .we-specialize-in-model-casting-for-fashion-shows-advertising-campaigns-and-promotional-events-our-experienced-team-identifies-and-selects-models-that-align-with-the-vision-and-requirements-of-each-project-we-ensure-that-the-casting-process-is-seamless-resulting-in-a-lineup-of-diverse-and-talented-models-Tum {
  max-width: 82.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hsws-5AT {
  width: 174.4rem;
  height: 24.2rem;
  position: absolute;
  left: 8.5rem;
  top: 157.2rem;
  display: flex;
  align-items: flex-start;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hsws-5AT .ozamba-events-offers-comprehensive-event-planning-services-for-corporations-this-includes-conferences-seminars-product-launches-and-team-building-events-our-team-handles-all-logistics-allowing-corporate-clients-to-focus-on-their-core-objectives-while-delivering-exceptional-experiences-for-attendees-Pwq {
  margin-right: 9.2rem;
  max-width: 82.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.entertainment-q9m .auto-group-nzdr-pdH .auto-group-hsws-5AT .we-excel-in-creating-unique-and-immersive-special-events-such-as-pop-up-shops-or-themed-experiences-from-concept-development-to-execution-we-bring-creativity-and-precision-to-these-events-providing-attendees-with-memorable-and-engaging-experiences-zgj {
  max-width: 82.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3400000254;
  color: #222222;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK {
  box-sizing: border-box;
  padding: 3.947rem 7.8rem 4.5rem 7.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #7e398d;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb {
  margin: 0rem 4.3rem 2.547rem 4.3rem;
  width: calc(100% - 8.6rem);
  height: 5.5057rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw {
  margin: 1.853rem 85.4rem 1.253rem 0rem;
  width: 61.5rem;
  height: calc(100% - 3.1057rem);
  position: relative;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-o1u {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-o1u .auto-group-jcg3-wP1 {
  margin: 0rem 13.5rem 0.2rem 0rem;
  width: 4.6rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-DrK {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 7.8rem;
  top: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-DrK .auto-group-6uv3-AWf {
  margin: 0rem 7.5rem 0.2rem 0rem;
  width: 10.6rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-46F {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 21.6rem;
  top: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-46F .auto-group-aq67-CCT {
  margin: 0rem 10rem 0.2rem 0rem;
  width: 8.1rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-frj {
  width: 18.1rem;
  height: 2.4rem;
  position: absolute;
  left: 32.9rem;
  top: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-frj .auto-group-turf-cGB {
  margin: 0rem 10.8rem 0.2rem 0rem;
  width: 7.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .menu-stw .menu-item-J91 {
  width: 7.2rem;
  height: 1.6rem;
  position: absolute;
  left: 42.6rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto {
  width: 20.8rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-YJF {
  margin-bottom: 0.754rem;
  width: 0.5079rem;
  height: 0.4977rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 {
  margin: 0rem 0.508rem 0.887rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-QrF {
  margin: 0rem 0.975rem 0.008rem 0rem;
  width: 2.4957rem;
  height: 2.4927rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-wbH {
  margin: 0rem 0.975rem 0.006rem 0rem;
  width: 2.2334rem;
  height: 2.4954rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-fnB {
  margin: 0.003rem 0.975rem 0rem 0rem;
  width: 2.6515rem;
  height: 2.4867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-Py5 {
  margin: 0rem 0.975rem 0.009rem 0rem;
  width: 3.1194rem;
  height: 2.493rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-8fm {
  margin: 0.007rem 0.975rem 0rem 0rem;
  width: 2.2648rem;
  height: 2.4957rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-5Z5 .vector-ffh {
  margin-top: 0.0031rem;
  width: 2.6515rem;
  height: 2.4867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX {
  margin: 0rem 6.421rem 0rem 5.912rem;
  width: calc(100% - 12.3329rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .vector-wNK {
  margin: 0.003rem 0.916rem 0rem 0rem;
  width: 0.5113rem;
  height: 0.8386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .vector-fp7 {
  margin: 0.003rem 0.916rem 0rem 0rem;
  width: 0.7316rem;
  height: 0.8389rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .auto-group-xsxr-bhm {
  margin: 0.003rem 0.916rem 0rem 0rem;
  width: 0.7467rem;
  height: 0.8384rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .vector-Kdm {
  margin: 0.003rem 0.916rem 0rem 0rem;
  width: 0.6563rem;
  height: 0.8386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .vector-TEB {
  margin: 0.003rem 0.916rem 0rem 0rem;
  width: 0.6755rem;
  height: 0.8386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .group-34280-Mvb .group-bto .group-CvX .vector-n1Z {
  width: 0.5655rem;
  height: 0.8652rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .rectangle-11-urs {
  margin-bottom: 2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #c1c7cd;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .auto-group-k123-3CP {
  margin: 0rem 1.1rem 0rem 71.25rem;
  width: calc(100% - 72.35rem);
  height: 2.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .auto-group-k123-3CP .ozamba-events-all-rights-are-reserved-xaF {
  margin-right: 63.65rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .auto-group-k123-3CP .social-icons-4NP {
  box-sizing: border-box;
  padding: 0.2rem 0.204rem 0.203rem 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .auto-group-k123-3CP .social-icons-4NP .icon-jam-icons-outline-logos-instagram-arX {
  margin-right: 2.0035rem;
  width: 1.9965rem;
  height: 1.9965rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.entertainment-q9m .footer-2tK .auto-group-k123-3CP .social-icons-4NP .icon-jam-icons-outline-logos-linkedin-6Zy {
  margin-bottom: 0.084rem;
  width: 1.9959rem;
  height: 1.9072rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
