
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 14.3rem;
}.group-34304-rew {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.group-34304-rew .sport-123 {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-34304-rew .entertainment-KHd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #4f4f4f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
